<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Day 57</title>
</head>
<body>
    <h1>Hello {{ name }},</h1>
    {% if gender %}
      <h2>I think you are: {{ gender }},</h2>
      <h2>And maybe {{ age }} years old.</h2>
    {% else %}
    <h2>At the end of the URL, either write "/blog" or write "/guess/'name'".</h2>
    <h3>Random number: {{ num }}</h3>
      {% endif %}

<a href="{{ url_for('get_blog') }}">Go to blog</a>
</body>

<footer>
  <p>Copyright {{year}}. Built by Silje</p>
</footer>
</html>
